<footer id="colophon" class="site-footer">
{#            	<div class="footer-widgets">#}
{#            		<div class="container">#}
{#            			<div class="row">#}
{#            				<div class="col-lg-4 col-md-4 col-xs-12">#}
{#            					<aside class="widget clearfix">#}
{#            						<div class="body">#}
{#            							<h4 class="widget-title">Featured Products</h4>#}
{#            							<ul class="product_list_widget">#}
{#            								<li>#}
{#            									<a href="single-product.html" title="Tablet Thin EliteBook  Revolve 810 G6">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/1.jpg" src="/static/assets/images/blank.gif" alt="">#}
{#            										<span class="product-title">Tablet Thin EliteBook  Revolve 810 G6</span>#}
{#            									</a>#}
{#            									<span class="electro-price"><span class="amount">$1,300.00</span></span>#}
{#            								</li>#}
{##}
{#            								<li>#}
{#            									<a href="single-product.html" title="Smartphone 6S 128GB LTE">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/2.jpg" src="/static/assets/images/blank.gif" alt=""><span class="product-title">Smartphone 6S 128GB LTE</span>#}
{#            									</a>#}
{#            									<span class="electro-price"><span class="amount">$780.00</span></span>#}
{#            								</li>#}
{##}
{#            								<li>#}
{#            									<a href="single-product.html" title="Smartphone 6S 64GB LTE">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/3.jpg" src="/static/assets/images/blank.gif" alt="">#}
{#            										<span class="product-title">Smartphone 6S 64GB LTE</span>#}
{#            									</a>#}
{#            									<span class="electro-price"><span class="amount">$1,215.00</span></span>#}
{#            								</li>#}
{#            							</ul>#}
{#            						</div>#}
{#            					</aside>#}
{#            				</div>#}
{#            				<div class="col-lg-4 col-md-4 col-xs-12">#}
{#            					<aside class="widget clearfix">#}
{#            						<div class="body"><h4 class="widget-title">Onsale Products</h4>#}
{#            							<ul class="product_list_widget">#}
{#            								<li>#}
{#            									<a href="single-product.html" title="Notebook Black Spire V Nitro  VN7-591G">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/3.jpg" src="/static/assets/images/blank.gif" alt="">#}
{#            										<span class="product-title">Notebook Black Spire V Nitro  VN7-591G</span>#}
{#            									</a>#}
{#            									<span class="electro-price"><ins><span class="amount">$1,999.00</span></ins> <del><span class="amount">$2,299.00</span></del></span>#}
{#            								</li>#}
{##}
{#            								<li>#}
{#            									<a href="single-product.html" title="Tablet Red EliteBook  Revolve 810 G2">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/4.jpg" src="/static/assets/images/blank.gif" alt="">#}
{#            										<span class="product-title">Tablet Red EliteBook  Revolve 810 G2</span>#}
{#            									</a>#}
{#            									<span class="electro-price"><ins><span class="amount">$1,999.00</span></ins> <del><span class="amount">$2,299.00</span></del></span>#}
{#            								</li>#}
{##}
{#            								<li>#}
{#            									<a href="single-product.html" title="Widescreen 4K SUHD TV">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/5.jpg" src="/static/assets/images/blank.gif" alt="">#}
{#            										<span class="product-title">Widescreen 4K SUHD TV</span>#}
{#            									</a>#}
{#            									<span class="electro-price"><ins><span class="amount">$2,999.00</span></ins> <del><span class="amount">$3,299.00</span></del></span>#}
{#            								</li>#}
{#            							</ul>#}
{#            						</div>#}
{#            					</aside>#}
{#            				</div>#}
{#            				<div class="col-lg-4 col-md-4 col-xs-12">#}
{#            					<aside class="widget clearfix">#}
{#            						<div class="body">#}
{#            							<h4 class="widget-title">Top Rated Products</h4>#}
{#            							<ul class="product_list_widget">#}
{#            								<li>#}
{#            									<a href="single-product.html" title="Notebook Black Spire V Nitro  VN7-591G">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/6.jpg" src="/static/assets/images/blank.gif" alt="">#}
{#            										<span class="product-title">Notebook Black Spire V Nitro  VN7-591G</span>#}
{#            									</a>#}
{#            									<div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>		<span class="electro-price"><ins><span class="amount">$1,999.00</span></ins> <del><span class="amount">$2,299.00</span></del></span>#}
{#            								</li>#}
{##}
{#            								<li>#}
{#            									<a href="single-product.html" title="Apple MacBook Pro MF841HN/A 13-inch Laptop">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/7.jpg" src="/static/assets/images/blank.gif" alt="">#}
{#            										<span class="product-title">Apple MacBook Pro MF841HN/A 13-inch Laptop</span>#}
{#            									</a>#}
{#            									<div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>		<span class="electro-price"><span class="amount">$1,800.00</span></span>#}
{#            								</li>#}
{##}
{#            								<li>#}
{#            									<a href="single-product.html" title="Tablet White EliteBook Revolve  810 G2">#}
{#            										<img class="wp-post-image" data-echo="/static/assets/images/footer/2.jpg" src="/static/assets/images/blank.gif" alt="">#}
{#            										<span class="product-title">Tablet White EliteBook Revolve  810 G2</span>#}
{#            									</a>#}
{#            									<div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>		<span class="electro-price"><span class="amount">$1,999.00</span></span>#}
{#            								</li>#}
{#            							</ul>#}
{#            						</div>#}
{#            					</aside>#}
{#            				</div>#}
{#            			</div>#}
{#            		</div>#}
{#            	</div>#}
            	<div class="footer-bottom-widgets">
            		<div class="container">
            			<div class="row">
            				<div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
                                {% for footer_link_box in footer_link_boxs %}
                                <div class="columns">
            						<aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
            							<div class="body">
            								<h4 class="widget-title">{{ footer_link_box.title }}</h4>
            								<div class="menu-footer-menu-1-container">
            									<ul id="menu-footer-menu-1" class="menu">
                                                    {% for link in footer_link_box.footerlinkmodel_set.all %}
                                                       <li class="menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                                                    {% endfor %}
            									</ul>
            								</div>
            							</div>
            						</aside>
            					</div><!-- /.columns -->
                                {% endfor %}

            				</div><!-- /.col -->

            				<div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">
            					<div class="footer-logo">
                                  <img src="{{ setting.site_logo.url }}" alt="Logo-footer">
            					</div><!-- /.footer-contact -->

            					<div class="footer-call-us">
            						<div class="media">
            							<span class="media-left call-us-icon media-middle"><i class="ec ec-support"></i></span>
            							<div class="media-body">
            								<span class="call-us-text">{{ setting.site_name }}</span>
            								<span class="call-us-number">{{ setting.phone }}</span>
            							</div>
            						</div>
            					</div><!-- /.footer-call-us -->


            					<div class="footer-address">
                                    {{ setting.address }}
            					</div><!-- /.footer-address -->
            				</div>

            			</div>
            		</div>
            	</div>
            	<div class="copyright-bar">
            		<div class="container">
                        {{ setting.copy_right }}
            		</div><!-- /.container -->
            	</div><!-- /.copyright-bar -->
            </footer>