        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/tether.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/echo.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/wow.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/electro.js"></script>
