{% extends 'base/shird.html' %}

{% block title %}تماس با ما{% endblock %}

{% block content %}
<div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb"><a href="home.html">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Contact-v1</nav>

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <article class="post-2508 page type-page status-publish hentry" id="post-2508">
                                <div itemprop="mainContentOfPage" class="entry-content">
                                    <div class="vc_row-full-width vc_clearfix"></div>
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="contact-form wpb_column vc_column_container vc_col-sm-9 col-sm-9">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h2 class="contact-page-title">تماس با ما</h2>
                                                            <p>شما میتوانید مشکلات و نظرات و پیشنهادات خود را برای  ما ارسال کنید<br>ما منتظر نظرات شما هستیم </p>
                                                        </div>
                                                    </div>
                                                    <div lang="en-US" dir="ltr" id="wpcf7-f2507-p2508-o1" class="wpcf7" role="form">
                                                        <div class="screen-reader-response"></div>


                                                        <form class="wpcf7-form" method="post" action="{% url 'contact-us' %}">
                                                            {% csrf_token %}
                                                            <div class="form-group row">
                                                                {{ form }}
                                                                <p><input type="submit" value="Send Message"></p>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="store-info wpb_column vc_column_container vc_col-sm-3 col-sm-3">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h2 class="contact-page-title">Our Store</h2>
                                                            <address>17 Princess Road<br>
                                                                London, Greater London<br>
                                                                NW1 8JR, UK
                                                            </address>
                                                            <h3>Hours of Operation</h3>
                                                            <ul class="list-unstyled operation-hours inner-right-md">
                                                                <li class="clearfix"><span class="day">Monday:</span><span class="pull-right flip hours">12-6 PM</span></li>
                                                                <li class="clearfix"><span class="day">Tuesday:</span><span class="pull-right flip hours">12-6 PM</span></li>
                                                                <li class="clearfix"><span class="day">Wednesday:</span><span class="pull-right flip hours">12-6 PM</span></li>
                                                                <li class="clearfix"><span class="day">Thursday:</span><span class="pull-right flip hours">12-6 PM</span></li>
                                                                <li class="clearfix"><span class="day">Friday:</span><span class="pull-right flip hours">12-6 PM</span></li>
                                                                <li class="clearfix"><span class="day">Saturday:</span><span class="pull-right flip hours">12-6 PM</span></li>
                                                                <li class="clearfix"><span class="day">Sunday</span><span class="pull-right flip hours">Closed</span></li>
                                                            </ul>
                                                            <h3>Careers</h3>
                                                            <p class="inner-right-md">If you’re interested in employment opportunities at Electro, please email us: <a href="mailto:contact@yourstore.com">contact@yourstore.com</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div><!-- .container -->
            </div>
{% endblock %}