{% extends 'base/shird.html' %}
{% block title %} درباره ما {% endblock %}

{% block content %}
<div id="content" class="site-content" tabindex="-1">
            	<div class="container">
            		<div id="primary" class="content-area">
            			<main id="main" class="site-main">
            				<article class="has-post-thumbnail hentry">


            					<header class="entry-header header-with-cover-image" style="background-image: url({{ setting.site_logo.url }});">
            						<div class="caption">
            							<h1 class="entry-title" itemprop="name">{{ setting.site_name }}</h1>
            							<p class="entry-subtitle">{{ setting.about_us_text }}</p>
            						</div>
            					</header><!-- .entry-header -->
                                <div class="entry-content">
            						<div class="row about-features inner-top-md inner-bottom-sm">
                                        {% for data in about %}
                                               <div class="col-xs-12 col-md-4">
            								<figure class="wpb_wrapper vc_figure outer-bottom-xs">
            									<div class="vc_single_image-wrapper">
            										<img src="{{ data.about_img.url }}" data-echo="{{ data.about_img.url }}" class="img-responsive" alt="">
            									</div>
            								</figure>


            								<div class="text-content">
            									<h2 class="align-top">{{ data.about_title }}</h2>
            									<p>
                                                    {{ data.about_text }}
            									</p>
            								</div>
            							</div><!-- .col -->
                                        {% endfor %}

            						</div><!-- .row -->

            						<div class="light-bg team-member-wrapper ">
            							<div class="container">
            								<div class="row">
                                                {% for dete in about %}
                                                       <div class="col-sm-2">
            										<div class="team-member circle">
            											<img src="{{ dete.about_img.url }}" data-echo="{{ dete.about_img.url }}" class="img-responsive" alt="">
            											<div class="profile">
            												<h3>{{ dete.about_title }} <small class="description">{{ dete.about_text }}</small>
            												</h3>
            											</div>
            										</div>
            									</div><!-- .col -->
                                                {% endfor %}


            								</div><!-- .row -->
            							</div><!-- .container -->
            						</div><!-- .row -->


            						<div class="vc_row-full-width vc_clearfix"></div>
            					</div><!-- .entry-content -->

            				</article><!-- #post-## -->
            			</main><!-- #main -->
            		</div><!-- #primary -->
            	</div><!-- .col-full -->
            </div>
{% endblock %}